html{
    height: 100%；
}
body{
    height: 100%;
    margin: 0px;
    padding: 0px
    font-size: 12px;
}
.header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #0075c7;
    position: absolute;
    color: #fff;
}
.header .city{
    color: #ccc;
}
.wrap{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ccc;
    top: 50px;
    bottom: 0;
}

.menu{
    width: 220px;
    float: left;
    border-right: 1px solid #e9e9e9;
    overflow-y: scroll;
    height: 100%;
    background: #fff;
}
.menu .search{
    margin: 10px;
    width: 100%;
    overflow: hidden;
}
.menu input{
    float: left;
    height: 1.5rem;
    border: 1px solid rgba(0,155,255,0.8);
}
.menu button{
    float: left;
    height: 1.8rem;
    margin-left: 10px;
    background-color: rgba(0,155,255,0.8);
    border: 0;
    color: #fff;
}
.menu ul{
    margin: 0;
    padding: 0 10px;
}
.menu li{
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
    list-style: none;
    cursor: pointer;
}
.menu li:hover{
    background-color: rgba(0,155,255,0.8);
    color: #fff;
}
.main{
    border-left: 1px solid #e9e9e9;
    height: 100%;
    position: relative;
}
#menu-btn{
    position: absolute;
    left: 10px;
    top: 10px;
}
#menu-btn img{
    width:30px;
    cursor: pointer;
}
#panel {
    position: fixed;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    right: 10px;
    width: 280px;
    border-bottom: solid 1px silver;
}
.amap-info-content{
    padding: 0;
    font-size: 12px;
    box-shadow: 0 0 0.5px rgba(0,0,100,.6);
    background: #fff;
    border-radius: 2px;
    text-align: left;
    border: 1px solid silver;
}
.info-title{
    color: white;
    font-size: 14px;
    background-color: rgba(0,155,255,0.8);
    line-height: 26px;
    padding: 0 20px 0 10px;
    font-weight: lighter;
    letter-spacing: 1px
}
.info-content{
    padding: 10px;
    color: #666666;
    line-height: 23px;
}
@media screen and (max-width: 800px) {
    body{
        font-size: 12px;
    }
    .menu{
        display: none;
    }
    .menu{
        position: absolute;
        z-index: 9999;
        width: 230px;
    }
}
